@import "./footer";

@import "./custom.bootstrap";

.btn {
  text-transform: uppercase;
}

figure {
  margin: 0;
}

section {
  $section-padding--step: 28px;
  padding-left: 3 * $section-padding--step !important;
  padding-right: 3 * $section-padding--step !important;
  @include media-breakpoint-down(md) {
    padding-left: 2 * $section-padding--step !important;
    padding-right: 2 * $section-padding--step !important;
  }
  @include media-breakpoint-down(sm) {
    padding-left: $section-padding--step !important;
    padding-right: $section-padding--step !important;
  }
  h1 {
    font-size: 70px;
    line-height: 84px;
    @include media-breakpoint-down(md) {
      font-size: 44px;
      line-height: 56px;
    }
  }
  h2 {
    font-size: 44px;
    line-height: 53px;
    @include media-breakpoint-down(md) {
      font-size: 32px;
      line-height: 38px;
    }
  }
  h3 {
    font-size: 33px;
    line-height: 50px;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

#whatsNextDefault {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

#whatsNextCarouselCmp {
  display: none;
  min-height: 587px;
  @include media-breakpoint-down(md) {
    display: block;
  }
  .carousel-indicators {
    bottom: -24px;
    li {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #b7bcc0;
      border: none;
      margin: 0 15px;
      &.active {
        background: $pink;
      }
    }
  }
  .carousel-item {
    p {
      width: 100%;
    }
  }
}
